
#vbFondo{
    -fx-background-color: ;
    -fx-color-label-visible: ;
}

#tvTabla{
    -fx-background-color: ;
}

#Boton{
    -fx-background-color:  ;
}

#tablaCabecera {

    -fx-background-color: ;
}